# Managed by Ansible - edits will be overwritten.
SCANGRID_ROLE={{ scangrid_role }}
SCANGRID_DATA_DIR=/var/lib/scangrid
SCANGRID_LOG_LEVEL={{ scangrid_log_level | default('INFO') }}
SCANGRID_API_TOKEN={{ scangrid_api_token }}

SCANGRID_ALLOWLIST={{ scangrid_allowlist }}
SCANGRID_ALLOW_PUBLIC_TARGETS={{ scangrid_allow_public_targets | default('false') }}

SCANGRID_API_HOST=0.0.0.0
SCANGRID_API_PORT={{ scangrid_api_port | default(8090) }}
SCANGRID_DASHBOARD_USER={{ scangrid_dashboard_user | default('') }}
SCANGRID_DASHBOARD_PASSWORD={{ scangrid_dashboard_password | default('') }}
SCANGRID_DEFAULT_NMAP_ARGS={{ scangrid_default_nmap_args | default('-sS -sV -T3 --top-ports 1000 -Pn --version-light') }}

SCANGRID_CVE_PROVIDER={{ scangrid_cve_provider | default('nvd_api') }}
SCANGRID_NVD_API_KEY={{ scangrid_nvd_api_key | default('') }}
SCANGRID_NVD_FEED_DIR=/var/lib/scangrid/nvd
SCANGRID_CVE_MIN_CVSS={{ scangrid_cve_min_cvss | default(0.0) }}

SCANGRID_NOTIFY_BACKEND={{ scangrid_notify_backend | default('log') }}
SCANGRID_NOTIFY_MIN_SEVERITY={{ scangrid_notify_min_severity | default('medium') }}
SCANGRID_NTFY_URL={{ scangrid_ntfy_url | default('https://ntfy.sh') }}
SCANGRID_NTFY_TOPIC={{ scangrid_ntfy_topic | default('') }}
SCANGRID_TELEGRAM_BOT_TOKEN={{ scangrid_telegram_bot_token | default('') }}
SCANGRID_TELEGRAM_CHAT_ID={{ scangrid_telegram_chat_id | default('') }}
SCANGRID_WEBHOOK_URL={{ scangrid_webhook_url | default('') }}

SCANGRID_ORCHESTRATOR_URL={{ scangrid_orchestrator_url | default('http://127.0.0.1:8090') }}
SCANGRID_WORKER_ID={{ inventory_hostname }}
SCANGRID_WORKER_POLL_SECONDS={{ scangrid_worker_poll_seconds | default(10) }}
SCANGRID_WORKER_CONCURRENCY={{ scangrid_worker_concurrency | default(1) }}
SCANGRID_NMAP_PATH=nmap
